.why-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    padding: 0 50px;
    margin: 30px 30px;
    position: relative;
}

.abs-why{
    right: -880px;
    bottom: -200px;
    position: absolute;
}

.abs-why img{
    width: 50%;
}


.why-h2 h2::before{
    width: 120px;
    bottom: -10px;
}

.why-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.why-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 45, 45, 0.587);
    border-radius: 20px;
    gap: 15px;
    border: 1px solid rgb(74, 74, 74);
    box-shadow: 5px 5px 50px rgba(78, 78, 78, 0.116);
    height: 330px;
    padding: 0 20px;
    transition: all 0.3s;
}

.why-div:hover{
    transform: translateY(-7px) scale(1.01);
    box-shadow: 5px 5px 50px rgba(105, 105, 105, 0.205);
}

.why-div h2{
    font-size: 21px;
    text-align: center;
}

.why-div h3{
    font-size: 32px;
}

.why-div p{
    font-size: 15px;
    text-align: center;
    line-height: 22px;
}

